@media screen and (max-width: 321px){
    main{
        overflow-x: hidden;
    }
    .cabecalho{
        display: block;
    }

    .desktop{
        display: none;
    }

    .mobile{
        display: block;
    }

    .navegacao{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .menu li a{
        text-decoration: none;
        color: #fff;
        font-size: 10px;
    }

    .menu li a::after{
        display: none;
    }

    .section-text h2{
        font-size: 25px;
        line-height: 30px;
    }

    .section-text p {
        font-size: 20px;
    }

    .img-principal img{
        border-radius: 40%;
    }

    .img-mobile img{
        width: 350px;
    }

    .img-principal .mobile{
        width: 250px;
    }

    .container{
        margin-bottom: 10px;
    }

    .beneficios{
        text-align: center;
    }

    .beneficios h2{
        text-align: center;
        font-size: 24px;
        font-weight: 600;
    }

    .beneficios img{
        display: none;
    }

    .img-benef{
        width: 250px;
    }

    .img-benef .mobile{
        width: 200px;
    }

    .sobre-img img, .projeto-img img{
        width: 260px;
        height: 280px;
    }

    .bg-second{
        width: 300px;
        height: 200px;
        background: linear-gradient(105deg, rgba(155,220,162,1) 0%, rgba(97,199,107,1) 100%);
        border-radius: 30% 5% 20% 5px;
        margin-bottom: 100px;
    }

    .bg-second img{
        margin-left: 60px;
        margin-top: 40px;
    }

    .bg-last{
        width: 300px;
        height: 280px;
        background: linear-gradient(105deg, rgba(97,199,107,1) 0%, rgba(48,166,60,1) 100%);
        border-radius: 30% 20% 30% 5px;
    }

    .bg-last img{
        margin-left: 50px;
        margin-top: 55px;
    }

    .footer-text{
        margin-right: 10px;   
    }

    .footer-text p{
        font-size: 0.8em;
    }

    .footer-copyright p, .lado-dif h2{
        font-size: 0.9em;
    }

    .rodape{
        text-align: center;
    }

    .btn-voltar a img{
        width: 30px;
        height: 30px;
        margin-left: 50px;
    }

    .beneficios-apresentacao p{
        font-size: 1.2em;
    }
    
     .beneficios-apresentacao ul li{
        font-size: 0.6em;
    } 
    
    
    .card-footer h3{
        font-size: 1.2rem;
    }

    .btn-voltar{
        display: none;
    }

}

@media screen and (max-width: 376px){
    main{
        overflow-x: hidden;
    }
    .cabecalho{
        display: block;
        
    }

    .desktop{
        display: none;
    }

    .mobile{
        display: block;
    }

    .navegacao{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .menu li a{
        text-decoration: none;
        color: #fff;
        font-size: 10px;
    }

    .menu li a::after{
        display: none;
    }

    .section-text{
        width: 100%;
        text-align: center;
    }

    .section-text h2{
        font-size: 25px;
        line-height: 30px;
    }

    .section-text p {
        font-size: 20px;
    }

    .img-principal img{
        border-radius: 40%;
    }

    .img-mobile img{
        width: 350px;
    }

    .container{
        margin-bottom: 10px;
    }

    .beneficios{
        text-align: center;
    }

    .beneficios h2{
        text-align: center;
        font-size: 24px;
        font-weight: 600;
    }

    .beneficios img{
        display: none;
    }

    .img-benef{
        width: 250px;
    }

    .img-benef .mobile{
        width: 200px;
    }

    .img-principal .mobile{
        width: 260px;
    }

    .sobre-img img, .projeto-img img{
        width: 260px;
        height: 280px;
    }

    .bg-first{
        width: 300px;
        height: 200px;
        background: linear-gradient(105deg, rgba(215,241,218,1) 0%, rgba(155,220,162,1) 100%);
        border-radius: 30% 5% 20% 5px;
        margin-bottom: 30px;
    }

    .bg-first img{
        margin-left: 40px;
    }

    .bg-second{
        width: 300px;
        height: 200px;
        background: linear-gradient(105deg, rgba(155,220,162,1) 0%, rgba(97,199,107,1) 100%);
        border-radius: 30% 5% 20% 5px;
        margin-bottom: 100px;
    }

    .bg-second img{
        margin-left: 60px;
        margin-top: 40px;
    }

    .bg-last{
        width: 300px;
        height: 280px;
        background: linear-gradient(105deg, rgba(97,199,107,1) 0%, rgba(48,166,60,1) 100%);
        border-radius: 30% 20% 30% 5px;
    }

    .bg-last img{
        margin-left: 50px;
        margin-top: 55px;
    }
    
    .footer-text{
        margin-right: 10px;   
    }

    .footer-text p{
        font-size: 0.8em;
    }

    .footer-copyright p, .lado-dif h2{
        font-size: 0.9em;
    }

    .rodape{
        text-align: center;
    }

    .btn-voltar a img{
        width: 30px;
        height: 30px;
        margin-left: 50px;
    }

    .beneficios-apresentacao p{
        font-size: 1.2em;
    }
    
     .beneficios-apresentacao ul li{
        font-size: 0.6em;
    } 
    
    
    .card-footer h3{
        font-size: 1.2rem;
    }

    .btn-voltar{
        display: none;
    }

}

@media screen and (max-width: 426px){
    main{
        overflow-x: hidden;
    }
    .cabecalho{
        display: block;
        
    }

    .cabecalho .div-logo .titulo{
        margin-left: 50px;
    }

    

    .desktop{
        display: none;
    }

    .mobile{
        display: block;
    }

    .navegacao{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .menu li a{
        text-decoration: none;
        color: #fff;
        font-size: 10px;
    }

    .menu li a::after{
        display: none;
    }

    .section-text{
        width: 100%;
        text-align: center;
    }

    .section-text h2{
        font-size: 25px;
        line-height: 30px;
    }

    .section-text p {
        font-size: 20px;
    }

    .img-mobile img{
        width: 350px;
    }

    .container{
        margin-bottom: 10px;
    }

    .beneficios{
        text-align: center;
    }

    .beneficios h2{
        text-align: center;
        font-size: 24px;
        font-weight: 600;
    }

    .beneficios img{
        display: none;
    }

    .img-principal .mobile{
        width: 260px;
    }

    .sobre-img img, .projeto-img img{
        width: 260px;
        height: 280px;
    }

    .bg-first{
        width: 300px;
        height: 280px;
        background: linear-gradient(105deg, rgba(215,241,218,1) 0%, rgba(155,220,162,1) 100%);
        border-radius: 30% 5% 20% 5px;
        margin-bottom: 30px;
    }

    .bg-first img{
        width: 250px;
        
    }

    .bg-second{
        width: 300px;
        height: 280px;
        background: linear-gradient(105deg, rgba(155,220,162,1) 0%, rgba(97,199,107,1) 100%);
        border-radius: 30% 5% 20% 5px;
        margin-bottom: 100px;
    }

    .bg-second img{
        width: 250px;
        margin-left: 60px;
        margin-top: 60px;
    }

    .bg-last{
        width: 300px;
        height: 280px;
        background: linear-gradient(105deg, rgba(97,199,107,1) 0%, rgba(48,166,60,1) 100%);
        border-radius: 30% 20% 30% 5px;
    }

    .bg-last img{
        width: 210px;
        margin-top: 50px;
        margin-left: 40px;
    }
    
    .footer-text{
        margin-right: 10px;   
    }

    .footer-text p{
        font-size: 0.8em;
    }

    .footer-copyright p, .lado-dif h2{
        font-size: 0.9em;
    }

    .rodape{
        text-align: center;
    }

    .btn-voltar a img{
        width: 30px;
        height: 30px;
        margin-left: 50px;
    }

    .beneficios-apresentacao p{
        font-size: 1.2em;
    }
    
     .beneficios-apresentacao ul li{
        font-size: 0.6em;
    } 
    
    
    .card-footer h3{
        font-size: 1.2rem;
    }

    .btn-voltar{
        display: none;
    }

    .img-principal img{
        border-radius: 40%;
    
    }

}

@media screen and (max-width: 601px){
    main{
        overflow-x: hidden;
    }
    .cabecalho{
        display: block;
        
    }

    .cabecalho .div-logo .titulo{
        margin-left: 50px;
    }

    

    .desktop{
        display: none;
    }

    .mobile{
        display: block;
    }

    .navegacao{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .menu li a{
        text-decoration: none;
        color: #fff;
        font-size: 10px;
    }

    .menu li a::after{
        display: none;
    }

    .section-text{
        width: 100%;
        text-align: center;
    }

    .section-text h2{
        font-size: 25px;
        line-height: 30px;
    }

    .section-text p {
        font-size: 20px;
    }

    .img-mobile img{
        width: 350px;
    }

    .container{
        margin-bottom: 10px;
    }

    .beneficios{
        text-align: center;
    }

    .beneficios h2{
        text-align: center;
        font-size: 24px;
        font-weight: 600;
    }

    .beneficios img{
        display: none;
    }

    .img-principal .mobile{
        width: 260px;
    }

    .sobre-img img, .projeto-img img{
        width: 260px;
        height: 280px;
    }

    .bg-first{
        width: 300px;
        height: 280px;
        background: linear-gradient(105deg, rgba(215,241,218,1) 0%, rgba(155,220,162,1) 100%);
        border-radius: 30% 5% 20% 5px;
        margin-bottom: 30px;
    }

    .bg-first img{
        width: 250px;
        
    }

    .bg-second{
        width: 300px;
        height: 280px;
        background: linear-gradient(105deg, rgba(155,220,162,1) 0%, rgba(97,199,107,1) 100%);
        border-radius: 30% 5% 20% 5px;
        margin-bottom: 100px;
    }

    .bg-second img{
        width: 250px;
        margin-left: 60px;
        margin-top: 60px;
    }

    .bg-last{
        width: 300px;
        height: 280px;
        background: linear-gradient(105deg, rgba(97,199,107,1) 0%, rgba(48,166,60,1) 100%);
        border-radius: 30% 20% 30% 5px;
    }

    .bg-last img{
        width: 210px;
        margin-top: 50px;
        margin-left: 40px;
    }
    
    .footer-text{
        margin-right: 10px;   
    }

    .footer-text p{
        font-size: 0.8em;
    }

    .footer-copyright p, .lado-dif h2{
        font-size: 0.9em;
    }

    .rodape{
        text-align: center;
    }

    .btn-voltar a img{
        width: 30px;
        height: 30px;
        margin-left: 50px;
    }

    .beneficios-apresentacao p{
        font-size: 1.2em;
    }
    
     .beneficios-apresentacao ul li{
        font-size: 0.6em;
    } 
    
    
    .card-footer h3{
        font-size: 1.2rem;
    }

    .btn-voltar{
        display: none;
    }

    .img-principal img{
        border-radius: 40%;
    
    }

}